<!-- src\app\filter-table\filter-table.component.html -->


<!-- <div class="filter-dropdowns-div">
  <app-filter></app-filter>
</div> -->

<div class="container-div">
  <div class="maketingData">
    <label class="marketingText">Marketing Data</label>
  </div>
  <div class="menu">
    <i class="fa-solid fa-bars"></i>
  </div>
  <div class="data">
    <div class="filter-div">
      <app-filter (selectedCitiesChange)="onSelectedCitiesChange($event)"
        (selectedGroupsChange)="onSelectedGroupsChange($event)"
        (selectedSourceNamesChange)="onSelectedSourceNamesChange($event)"
        (selectedNamesChange)="onSelectedNamesChange($event)" (selectedStatesChange)="onSelectedStatesChange($event)"
        (selectedZonesChange)="onSelectedZonesChange($event)" (selectedAreasChange)="onSelectedAreasChange($event)">
      </app-filter>
    </div>
    <div class="display-data">
      <div class="chk-date">
        <div class="checkboxes">
          <div class="chk-div">
            <input type="checkbox" class="chk">
            <label class="lbl">Skip Blank Mobile No</label>
          </div>
          <div class="chk-div">
            <input type="checkbox" class="chk">
            <label class="lbl">Skip Blank Email ID</label>
          </div>
          <div class="chk-div">
            <input type="checkbox" class="chk">
            <label class="lbl">Ignore Duplicate Records</label>
          </div>
        </div>
        <div class="customize-dates">
          <div class="fromdate">
            <label class="datelbl"><b>From Date</b></label>
            <input type="date" class="inputdate" [(ngModel)]="fromDate">
          </div>
          <div class="todate">
            <label class="datelbl"><b>To Date</b></label>
            <input type="date" class="inputdate" [(ngModel)]="toDate">
          </div>
        </div>
      </div>
      <label class="applied-filter"><b>Applied Filter</b></label>
      <div class="Selected-Dropdown-Badges">
        <!-- <div class="filter">
          <label class="filtername">Group</label>
          <i class="fa-solid fa-xmark"></i>
        </div> -->
        <div class="badges" >
          <div class="individual-badge" *ngIf="selectedGroups.length > 0">
            <button type="button" class="btn btn-danger">
              Groups <span class="badge bg-warning">{{selectedGroups.length}}</span>
            </button>
          </div>
          <div class="individual-badges" *ngIf="selectedSourceNames.length > 0">
            <button type="button" class="btn btn-danger">
              Source Name <span class="badge bg-warning">{{selectedSourceNames.length}}</span>
            </button>
          </div>
          <div class="individual-badges" *ngIf="selectedNames.length > 0">
            <button type="button" class="btn btn-danger">
              Names <span class="badge bg-warning">{{selectedNames.length}}</span>
            </button>
          </div>
          <div class="individual-badges" *ngIf="selectedStates.length > 0">
            <button type="button" class="btn btn-danger">
              States <span class="badge bg-warning">{{selectedStates.length}}</span>
            </button>
          </div>
          <div class="individual-badges" *ngIf="selectedCities.length > 0">
            <button type="button" class="btn btn-danger">
              Cities <span class="badge bg-warning">{{selectedCities.length}}</span>
            </button>
          </div>
          <div class="individual-badges" *ngIf="selectedZones.length > 0">
            <button type="button" class="btn btn-danger">
              Zones <span class="badge bg-warning">{{selectedZones.length}}</span>
            </button>
          </div>
          <div class="individual-badges" *ngIf="selectedAreas.length > 0">
            <button type="button" class="btn btn-danger">
              Areas <span class="badge bg-warning">{{selectedAreas.length}}</span>
            </button>
          </div>
      </div>
      <label class="sampletxt">Sample Data</label>
      <div class="tabledata">
        <table class="table" style="border: 1px solid black;">
          <thead class="table-dark">
            <tr>
              <th>Created Date</th>
              <th>Group</th>
              <th>Name</th>
              <th>Area</th>
              <th>City</th>
              <th>State</th>
              <th>Mobile No</th>
              <th>Email ID</th>
              <th>Phone No</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of filteredData.slice(0,5)">
              <td>{{data.recordCreated | date:'yyyy-MM-dd'}}</td>
              <td>{{data.type}}</td>
              <td>{{data.customerName}}</td>
              <td>{{data.area}}</td>
              <td>{{data.city}}</td>
              <td>{{data.state}}</td>
              <td>{{data.mobileNo1}}</td>
              <td>{{data.email1}}</td>
              <td>{{ data.phone1 }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <div class="noteText">
        <label class="notelbl">Note:</label>
        <span class="text">"Only the top 5 records are displayed in this sample data." To view all the data, please
          click on 'Download Data' after applying the desired filters. The filtered data will be generated and saved
          in a CSV file
        </span>
      </div> -->
      <div class="buttons-div">
        <button class="btn-load" (click)="filterData()">Load Data</button>
        <div class="displayrecords">
          <label class="lblrecords">Total Records:</label>
          <label class="totalrecords">{{filteredData.length}}</label>
        </div>
        <button class="btn-download" (click)="DownloadData()">Download Data</button>
      </div>
      <!-- <div class="show-record">
        <label class="lbldate">Last Generated Record Date:</label>
        <label class="recorddate">01-01-2023</label>
      </div>
    </div> -->
    </div>
  </div>