<!-- <div class="filter-dropdowns-div">
  <app-filter></app-filter>
</div> -->

<div class="container-div">
    <div class="maketingData">
      <label class="marketingText">Marketing Data</label>
    </div>
    <div class="menu">
      <i class="fa-solid fa-bars"></i>
    </div>
    <div class="data">
      <div class="filter-div">
        <app-filter></app-filter>
      </div>
      <div class="display-data">
        <div class="chk-date">
          <div class="checkboxes">
            <div class= "chk-div">
              <input type="checkbox" class="chk">
              <label class="lbl">Skip Blank Mobile No</label>
            </div>
            <div class= "chk-div">
              <input type="checkbox" class="chk">
              <label class="lbl">Skip Blank Email ID</label>
            </div>
            <div class= "chk-div">
              <input type="checkbox" class="chk">
              <label class="lbl">Ignore Duplicate Records</label>
            </div>
          </div>
          <div class="customize-dates">
            <div class="fromdate">
              <label class="datelbl"><b>From Date</b></label>
              <input type="date" class="inputdate">
            </div>
            <div class="todate">
              <label class="datelbl"><b>To Date</b></label>
              <input type="date" class="inputdate">
            </div>
          </div>
        </div>
        <div class="filtershow">
          <label class="applied-filter"><b>Applied Filter</b></label>
          <div class="filter">
            <label class="filtername">Group</label>
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="tabledata">
          <label class="sampletxt">Sample Data</label>
          <table style="border: 1px solid black;">
            <tr>
              <th>Created Date</th>
              <th>Group</th>
              <th>Name</th>
              <th>Area</th>
              <th>City</th>
              <th>State</th>
              <th>Mobile No</th>
              <th>Email ID</th>
              <th>Phone No</th>
            </tr>
            <tr>
              <td>data1</td>
              <td>data1</td>
              <td>data1</td>
              <td>data1</td>
              <td>data1</td>
              <td>data1</td>
              <td>data1</td>
              <td>data1</td>
              <td>data1</td>
            </tr>
            <tr>
              <td>data2</td>
              <td>data2</td>
              <td>data2</td>
              <td>data2</td>
              <td>data2</td>
              <td>data2</td>
              <td>data2</td>
              <td>data2</td>
              <td>data2</td>
            </tr>
            <tr>
              <td>data3</td>
              <td>data3</td>
              <td>data3</td>
              <td>data3</td>
              <td>data3</td>
              <td>data3</td>
              <td>data3</td>
              <td>data3</td>
              <td>data3</td>
            </tr>
            <tr>
              <td>data4</td>
              <td>data4</td>
              <td>data4</td>
              <td>data4</td>
              <td>data4</td>
              <td>data4</td>
              <td>data4</td>
              <td>data4</td>
              <td>data4</td>
            </tr>
            <tr>
              <td>data5</td>
              <td>data5</td>
              <td>data5</td>
              <td>data5</td>
              <td>data5</td>
              <td>data5</td>
              <td>data5</td>
              <td>data5</td>
              <td>9876543219</td>
            </tr>
          </table>
          <div class="noteText">
            <label class="notelbl">Note:</label>
            <span class="text">"Only the top 5 records are displayed in this sample data." To view all the data, please click on 'Download Data' after applying the desired filters. The filtered data will be generated and saved in a CSV file
            </span>
          </div>
        </div>
        <div class="buttons-div">
          <button class="btn-load">Load Data</button>
          <div class="displayrecords">
            <label class="lblrecords">Total Records:</label>
            <label class="totalrecords">100000</label>
          </div>
          <button class="btn-download">Download Data</button>
        </div>
        <div class="show-record">
          <label class="lbldate">Last Generated Record Date:</label>
          <label class="recorddate">01-01-2023</label>
        </div>
      </div>
    </div>
  </div>
  