<!-- src\app\login\login.component.html -->

<div class="container-fluid">
    <div class="row" id="nav" onclick="">
        <h1>Softcon CRM</h1>
    </div>
    <div class="row">
        <div class="col" id="header-logo">
            <img class="header-img" src="assets/softcon_icon.png" alt="Softcon logo">
        </div>
    </div>

    <div class="row" id="login-outer-container">
        <div class="login-inner-container">
            <div class="main-login">
                <div class="login-head">
                    <h1>LogIn</h1>
                </div>
                <div class="textbox-for-username-and-password">
                    <form class="login-form">
                        <!-- <label for="username">Username:</label> -->
                        <input type="text" id="username" name="username" [(ngModel)]="EnteredUserName" placeholder="Enter your username" required>

                        <!-- <label for="password">Password:</label> -->
                        <input type="password" id="password" name="password" [(ngModel)]="EnteredPassword" placeholder="Enter your password" required>

                        <button type="submit" (click)="verifyLogin()">Login</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>