<!-- src\app\filter\filter.component.html -->

<div class="lineThatSaysFilter">
  <h1>Filter</h1>
  <hr>
</div>
<div class="dropdown-div">
  <div class="wrapper" [class.active]="isActive[0]">
    <div class="simple-line"></div>
    <div class="select-btn" (click)="toggleDropdown(0)">
      <span>Select Group</span>
      <i class="fa-solid fa-caret-down down-arrow-dropdown"></i>
    </div>
    <hr>
    <div class="content">
      <div class="search">
        <i class="fa-solid fa-magnifying-glass dropdown-search-icon"></i>
        <input class="input-dropdown" spellcheck="false" type="text" placeholder="Search">
        <i class="fa-solid fa-microphone dropdown-search-mic-icon"></i>
      </div>
      <ul class="options">
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
      </ul>
    </div>
  </div>

  <div class="wrapper" [class.active]="isActive[1]">
  
    <div class="simple-line"></div>
    <div class="select-btn" (click)="toggleDropdown(1)">
      <span>Select Source Name</span>
      <i class="fa-solid fa-caret-down down-arrow-dropdown"></i>
    </div>
    <hr>
    <div class="content">
      <div class="search">
        <i class="fa-solid fa-magnifying-glass dropdown-search-icon"></i>
        <input class="input-dropdown" spellcheck="false" type="text" placeholder="Search">
        <i class="fa-solid fa-microphone dropdown-search-mic-icon"></i>
      </div>
      <ul class="options">
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
      </ul>
    </div>
  </div>


  <div class="wrapper" [class.active]="isActive[2]">
  
    <div class="simple-line"></div>
    <div class="select-btn" (click)="toggleDropdown(2)">
      <span>Select Name</span>
      <i class="fa-solid fa-caret-down down-arrow-dropdown"></i>
    </div>
    <hr>
    <div class="content">
      <div class="search">
        <i class="fa-solid fa-magnifying-glass dropdown-search-icon"></i>
        <input class="input-dropdown" spellcheck="false" type="text" placeholder="Search">
        <i class="fa-solid fa-microphone dropdown-search-mic-icon"></i>
      </div>
      <ul class="options">
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
      </ul>
    </div>
  </div>

  <div class="wrapper" [class.active]="isActive[3]">
  
    <div class="simple-line"></div>
    <div class="select-btn" (click)="toggleDropdown(3)">
      <span>Select State</span>
      <i class="fa-solid fa-caret-down down-arrow-dropdown"></i>
    </div>
    <hr>
    <div class="content">
      <div class="search">
        <i class="fa-solid fa-magnifying-glass dropdown-search-icon"></i>
        <input class="input-dropdown" spellcheck="false" type="text" placeholder="Search">
        <i class="fa-solid fa-microphone dropdown-search-mic-icon"></i>
      </div>
      <ul class="options">
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
      </ul>
    </div>
  </div>

  <div class="wrapper" [class.active]="isActive[4]">
  
    <div class="simple-line"></div>
    <div class="select-btn" (click)="toggleDropdown(4)">
      <span>Select City</span>
      <i class="fa-solid fa-caret-down down-arrow-dropdown"></i>
    </div>
    <hr>
    <div class="content">
      <div class="search">
        <i class="fa-solid fa-magnifying-glass dropdown-search-icon"></i>
        <input class="input-dropdown" spellcheck="false" type="text" placeholder="Search">
        <i class="fa-solid fa-microphone dropdown-search-mic-icon"></i>
      </div>
      <ul class="options">
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
      </ul>
    </div>
  </div>

  <div class="wrapper" [class.active]="isActive[5]">
    <div class="simple-line"></div>
    <div class="select-btn" (click)="toggleDropdown(5)">
      <span>Select Zone</span>
      <i class="fa-solid fa-caret-down down-arrow-dropdown"></i>
    </div>
    <hr>
    <div class="content">
      <div class="search">
        <i class="fa-solid fa-magnifying-glass dropdown-search-icon"></i>
        <input class="input-dropdown" spellcheck="false" type="text" placeholder="Search">
        <i class="fa-solid fa-microphone dropdown-search-mic-icon"></i>
      </div>
      <ul class="options">
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
      </ul>
    </div>
  </div>

  <div class="wrapper" [class.active]="isActive[6]">
    <div class="simple-line"></div>
    <div class="select-btn" (click)="toggleDropdown(6)">
      <span>Select Area</span>
      <i class="fa-solid fa-caret-down down-arrow-dropdown"></i>
    </div>
    <hr>
    <div class="content">
      <div class="search">
        <i class="fa-solid fa-magnifying-glass dropdown-search-icon"></i>
        <input class="input-dropdown" spellcheck="false" type="text" placeholder="Search">
        <i class="fa-solid fa-microphone dropdown-search-mic-icon"></i>
      </div>
      <ul class="options">
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
        <li>
          <input type="checkbox">
          SDFASDF
        </li>
      </ul>
    </div>
  </div>
</div>